

body{
    background: radial-gradient(white, lightgrey);
}

p{
    font-family: sans-serif;
}

#topheader{
    margin-top: 3%;
}

#dwbimage {
    width: 50%;
    margin: 0 auto;
}

#backbutton{
    margin-top: 70px;
    padding-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position:fixed;
    bottom: 20px;
    right: 30px;
}
