body{

}

label.mainBox input[type="file"] {
    position: fixed;
    top: -1000px;
}

.uploadFile{
  width: 600px;
  height: 100px;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -300px;

  /*background: red; /* For browsers that do not support gradients */
  background: linear-gradient(#ee0000, #cf0202); /* For Safari 5.1 to 6.0 */
  border-radius: 5px;
}

.mainBox {
    width: 600px;
    height: 100px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -300px;
    color: white;

    font-family:sans-serif;
    font-size: 40px;

    text-align: center;

    backface-visibility: hidden;

    /*background: red; /* For browsers that do not support gradients */
    /*background: linear-gradient(#ee0000, #cf0202); /* For Safari 5.1 to 6.0 */
    /*border-radius: 5px;
    */
}

/* hover, active, invalid + span, valid + span */
.mainBox: hover{
    background: #ee0000;
}

.mainBox: active{

}

.mainBox: invalid + span{

}

.mainBox: valid + span{

}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainPage {
    background: #aaa;
}

.searchBar {
    background: white;
    width: 80%;
    max-width: 500px;
    height: 30px;
}

.mainPage .searchBar {
    position: relative;
    top: 200px;
}

.searchPage .searchContainer {

}

.searchContainer input {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    border: none;
}


