body{
    font-family: 'Helvetica', 'Arial', sans-serif;
}

label.selectFile input[type="file"] {
    position: fixed;
    top: -1000px;
}

#mainBox{
  width: 600px;
  height: 100px;

  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: 70px;
  margin-left: -300px;

  /*background: red; /* For browsers that do not support gradients */
  background: linear-gradient(#ee0000, #cf0202); /* For Safari 5.1 to 6.0 */
  border-radius: 5px;
}

.selectFile {
    width: 600px;
    height: 100px;

    display: block;
    position: relative;
    top: 50%;
    left: 50%;

    margin-top: -22px;
    margin-left: -300px;

    font-family:sans-serif;
    font-size: 40px;

    text-align: center;

    color: white;
    /* backface-visibility: hidden;
    background: red; /* For browsers that do not support gradients */
    /*background: linear-gradient(#ee0000, #cf0202); /* For Safari 5.1 to 6.0 */
    background-color: transparent;
    border-radius: 5px;
}

/* hover, active, invalid + span, valid + span */
.uploadFile: hover + .mainBox{
    background: white;
}

img {
    display: block;
    width: 60%;
    length: 60%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
}
#fileList {
    text-align: center;
    clear: both;
}
#fileList li {
    list-style: none;
}
.mainBox: hover + .uploadFile{
    background: white;
}

.mainBox: active{

}

.mainBox: invalid + span{

}

.mainBox: valid + span{

}
